.navbar-logo-left {
  background-color: #ecf8f9;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px;
  background-color: transparent;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-two {
  display: flex;
  margin-bottom: 0px;
  padding-right: 0px;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-link:focus-visible {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-link[data-wf-focus-visible] {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown {
  margin-right: 5px;
  margin-left: 5px;
}

.nav-dropdown-toggle {
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-dropdown-toggle:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  border-radius: 12px;
  background-color: #fff;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #e4ebf3;
}

.nav-link-accent {
  margin-right: 20px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, 0.75);
}

.button-primary {
  margin-left: 87px;
  padding: 12px 25px;
  background-color: #0c66e8;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary:active {
  background-color: #43464d;
}

.div {
  margin-left: 15px;
  padding-right: 15px;
}

.image {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  border-radius: 15px;
}

.features-metrics {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 0px 30px;
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
      grid-template-areas: ". Area";
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #e4ebf3;
  background-color: transparent;
}

.features-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.features-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.features-title {
  margin-bottom: 8px;
  font-size: 50px;
  line-height: 48px;
  font-weight: 600;
}

.features-title-small {
  display: inline;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: #ecf8f9;
  box-shadow: -2px 1px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 200px;
  line-height: 100px;
}

.team-slider {
  position: relative;
  padding: 40px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: transparent;
}

.centered-heading {
  margin-bottom: 16px;
  text-align: center;
}

.centered-subheading {
  max-width: 530px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.team-slider-wrapper {
  height: auto;
  margin-top: 50px;
  background-color: transparent;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
}

.team-block {
  padding-bottom: 24px;
  background-color: #fff;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
  flex-direction: column;
  align-items: flex-start;
}

.team-member-name-two {
  margin-bottom: 12px;
  font-weight: 600;
  text-align: center;
}

.team-member-text {
  margin-bottom: 20px;
  text-align: center;
}

.text-link-arrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.arrow-embed {
  display: flex;
  margin-left: 2px;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  position: static;
  bottom: -60px;
  margin-top: 24px;
  font-size: 10px;
}

.nosotros {
  position: relative;
  margin-bottom: 0px;
  padding: 20px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: transparent;
}

.hero-wrapper-two {
  display: flex;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.features-metrics-2 {
  position: relative;
  padding: 60px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #ecf8f9;
}

.features-wrapper-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features-title-small-2 {
  font-size: 24px;
  line-height: 32px;
}

.team-circles {
  position: relative;
  padding: 50px 30px 80px;
  border-bottom: 1px solid #e4ebf3;
}

.team-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 56px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.team-member-image {
  width: 270px;
  height: 270px;
  margin-bottom: 24px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-member-name {
  margin-bottom: 6px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

.team-member-position {
  margin-bottom: 24px;
  font-weight: 700;
}

.gallery-slider {
  position: relative;
  padding: 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #e4e4e4;
}

.gallery-wrapper {
  display: -ms-grid;
  display: grid;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.gallery-block {
  display: flex;
  margin-top: 72px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.gallery-slide {
  height: auto;
  background-color: transparent;
}

.gallery-slide-wrapper {
  max-width: 47%;
  margin-right: 6%;
}

.gallery-slide-image {
  position: relative;
}

.gallery-image {
  width: 300%;
  height: 300px;
}

.gallery-slide-text {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 24px;
  margin-bottom: 0px;
  color: #f5f7fa;
  line-height: 32px;
}

.gallery-slider-left {
  left: -50px;
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.gallery-slider-left:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
}

.gallery-slider-left[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
}

.slider-arrow-embed {
  color: #1a1b1f;
}

.gallery-slider-right {
  right: -50px;
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.gallery-slider-right:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
}

.gallery-slider-right[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
}

.gallery-slide-nav {
  display: none;
}

.logos-title-large {
  position: relative;
  padding: 20px 30px 60px;
  border-bottom: 1px solid #e4ebf3;
}

.clients-title {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.clients-wrapper {
  display: flex;
  max-width: 750px;
  margin-top: -29px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-light {
  position: relative;
  padding: 80px 30px 40px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #ecf8f9;
}

.footer-wrapper-two {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-block-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}

.footer-link-two {
  margin-top: 20px;
  color: #1a1b1f;
  text-decoration: none;
}

.footer-link-two:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0px;
}

.footer-form-block {
  display: flex;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
}

.footer-form-field {
  height: 48px;
  margin-bottom: 0px;
  padding: 12px 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all 200ms ease;
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field:hover {
  border-color: #76879d;
}

.footer-form-field:focus {
  border-color: #76879d;
}

.footer-form-field::-moz-placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field::-ms-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field::placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  width: 50px;
  height: 48px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #1a1b1f;
  background-image: url('../images/');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  transition: all 200ms ease;
}

.footer-form-submit:hover {
  background-color: #3a4554;
}

.footer-divider-two {
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #e4ebf3;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  color: #3a4554;
}

.footer-social-block-two {
  display: flex;
  margin-top: 0px;
  margin-left: -12px;
  justify-content: flex-start;
  align-items: center;
}

.footer-social-link {
  margin-left: 12px;
}

.section {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
      grid-template-areas: ". Area";
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hero-heading-left {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
  background-image: url('../images/pTPqRc.png');
  background-position: 50% 50%;
  background-size: cover;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-split {
  display: flex;
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
  color: #fffcfc;
}

.button-primary-2 {
  padding: 12px 25px;
  background-color: #1a1b1f;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary-2:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary-2:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px 0 rgba(150, 163, 181, 0.08);
}

.heading {
  color: #fff;
}

.container-3 {
  margin-bottom: 0px;
  padding: 30px 200px;
}

.field-label {
  color: #0c66e8;
}

.field-label-2 {
  color: #0c66e8;
}

.field-label-3 {
  color: #0c66e8;
}

.field-label-4 {
  color: #0c66e8;
}

.field-label-5 {
  color: #0c66e8;
}

.logos-title-small {
  position: relative;
  padding: 60px 30px;
  border-bottom: 1px solid #e4ebf3;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.clients-tag {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.clients-wrapper-three {
  display: flex;
  margin-bottom: -10px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.clients-image-three {
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.logos-without-title {
  position: relative;
  padding: 60px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.campoform {
  border-radius: 10px;
}

@media screen and (min-width: 1440px) {
  .container {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  .nav-menu-two {
    padding-right: 0px;
    padding-left: 0px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  .button-primary {
    margin-left: 91px;
  }

  .div {
    display: -ms-grid;
    display: grid;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 40px;
    padding-left: 40px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: left;
  }

  .image {
    display: inline;
  }

  .hero-wrapper-two {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  .team-member-image {
    width: 270px;
    height: 270px;
    max-height: none;
  }

  .clients-title {
    color: #0c66e8;
  }

  .clients-wrapper {
    width: 750px;
    padding-right: 0px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .clients-image {
    width: 100px;
  }

  .footer-light {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  .hero-heading-left {
    margin-right: 0px;
    padding-right: 61px;
    padding-left: 0px;
    background-image: url('../images/pTPqRc.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: scroll;
  }

  .margin-bottom-24px-2 {
    color: #fff;
  }

  .heading {
    color: #fff;
  }

  .container-3 {
    padding-bottom: 75px;
    border-radius: 20px;
    background-color: #fff;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  .field-label {
    margin-bottom: 15px;
    background-color: transparent;
    color: #0c66e8;
  }

  .field-label-2 {
    margin-bottom: 15px;
    background-color: transparent;
    color: #0c66e8;
  }

  .field-label-3 {
    margin-bottom: 15px;
    color: #0c66e8;
  }

  .field-label-4 {
    margin-bottom: 15px;
    color: #0c66e8;
  }

  .field-label-5 {
    margin-bottom: 15px;
    color: #0c66e8;
  }

  .submit-button {
    background-color: #0c66e8;
  }

  .container-4 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .clients-tag {
    margin-bottom: 70px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 30px;
  }

  .clients-wrapper-three {
    justify-content: space-between;
    align-items: center;
  }

  .clients-image-three {
    max-width: 100%;
    margin-right: 53px;
    line-height: 20px;
  }

  .heading-2 {
    text-align: center;
  }

  .campoform {
    margin-bottom: 15px;
    background-color: #ecf8f9;
  }

  .heading-3 {
    margin-bottom: 30px;
  }

  .paragraph {
    padding-right: 55px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: transparent;
  }

  .nav-menu-two {
    display: flex;
    margin-top: 10px;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    background-color: #a6b1bf;
    color: #fff;
  }

  .features-wrapper {
    justify-content: space-between;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .features-wrapper-2 {
    justify-content: space-between;
  }

  .team-grid {
    grid-column-gap: 40px;
  }

  .team-member-image {
    width: 190px;
    height: 190px;
  }

  .gallery-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .clients-title {
    margin-bottom: 32px;
  }

  .footer-wrapper-two {
    flex-wrap: wrap;
  }

  .footer-form {
    width: 100%;
    margin-top: 40px;
  }

  .footer-form-container {
    max-width: 350px;
  }

  .container-2 {
    max-width: 728px;
  }

  .hero-wrapper {
    margin-bottom: -40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .heading {
    margin-right: 310px;
  }

  .container-4 {
    max-width: 728px;
  }

  .clients-wrapper-three {
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
  }

  .clients-image-three {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0px;
  }

  .nav-menu-two {
    padding-bottom: 30px;
    flex-direction: column;
    border-radius: 20px;
  }

  .nav-link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .image {
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .features-metrics {
    padding: 60px 15px;
  }

  .features-wrapper {
    margin-bottom: -40px;
    flex-wrap: wrap;
  }

  .features-block {
    width: 50%;
    margin-bottom: 40px;
  }

  .team-slider {
    padding: 60px 15px;
  }

  .nosotros {
    padding: 60px 15px;
  }

  .features-metrics-2 {
    padding: 60px 15px;
  }

  .features-wrapper-2 {
    margin-bottom: -40px;
    flex-wrap: wrap;
  }

  .team-circles {
    padding: 60px 15px;
  }

  .team-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .team-card {
    flex-wrap: nowrap;
    align-content: space-around;
  }

  .gallery-slider {
    padding: 60px 15px;
  }

  .gallery-slide {
    margin-right: 10px;
    margin-left: 10px;
  }

  .gallery-slide-text {
    line-height: 30px;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .logos-title-large {
    padding: 60px 15px;
  }

  .clients-wrapper {
    margin-bottom: -20px;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .clients-image {
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .footer-light {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .hero-heading-left {
    padding: 60px 15px;
  }

  .heading {
    padding-right: 0px;
  }

  .container-3 {
    padding-right: 100px;
    padding-left: 100px;
  }

  .logos-title-small {
    padding: 60px 15px;
  }

  .clients-wrapper-three {
    margin-bottom: -30px;
    justify-content: center;
    align-items: center;
  }

  .clients-image-three {
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .logos-without-title {
    display: flex;
    padding: 60px 15px;
    justify-content: flex-start;
    align-items: stretch;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .team-block {
    padding-left: 10px;
  }

  .team-member-image-two {
    margin-left: auto;
  }

  .team-block-info {
    align-items: center;
  }

  .team-grid {
    display: inline-block;
    justify-items: center;
    align-items: stretch;
    align-content: space-between;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 56px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .gallery-slider {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .gallery-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .gallery-slide-wrapper {
    max-width: 100%;
    margin-right: 0%;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .clients-image {
    margin-right: 10px;
    margin-left: 10px;
  }

  .footer-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-two {
    margin-top: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .container-2 {
    max-width: none;
  }

  .container-3 {
    padding-right: 50px;
    padding-left: 50px;
  }

  .container-4 {
    max-width: none;
  }

  .clients-wrapper-three {
    display: -ms-grid;
    display: grid;
    margin-bottom: 0px;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .clients-image-three {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

#w-node-ac3359d5-d211-3c77-4249-20030a50e977-bf861f99 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ac3359d5-d211-3c77-4249-20030a50e981-bf861f99 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ac3359d5-d211-3c77-4249-20030a50e98b-bf861f99 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8a89fd5a-50e9-733d-2800-153e49019f19-bf861f99 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8a89fd5a-50e9-733d-2800-153e49019f1e-bf861f99 {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8a89fd5a-50e9-733d-2800-153e49019f22-bf861f99 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8a89fd5a-50e9-733d-2800-153e49019f2c-bf861f99 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8a89fd5a-50e9-733d-2800-153e49019f31-bf861f99 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (min-width: 1440px) {
  #w-node-ac3359d5-d211-3c77-4249-20030a50e977-bf861f99 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-ac3359d5-d211-3c77-4249-20030a50e981-bf861f99 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_8a89fd5a-50e9-733d-2800-153e49019f19-bf861f99 {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-ac3359d5-d211-3c77-4249-20030a50e98b-bf861f99 {
    -ms-grid-column-align: auto;
        justify-self: auto;
    -ms-grid-row-align: auto;
        align-self: auto;
    order: 9999;
    -ms-grid-column: span 2;
        grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_8a89fd5a-50e9-733d-2800-153e49019f19-bf861f99 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_8a89fd5a-50e9-733d-2800-153e49019f1e-bf861f99 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}